<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dwell_Clicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Dwell_Clicker.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dwell_Clicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Dwell_Clicker.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Dwell_Clicker.Properties.Settings>
            <setting name="DwellTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MovementThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DwellTimeOnOff" serializeAs="String">
                <value>1000</value>
            </setting>
        </Dwell_Clicker.Properties.Settings>
        <Dwell_Clicker.Settings1>
            <setting name="DwellTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MovementThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DwellTimeOnOff" serializeAs="String">
                <value>1000</value>
            </setting>
        </Dwell_Clicker.Settings1>
    </userSettings>
    <applicationSettings>
        <Dwell_Clicker.Properties.Settings>
            <setting name="posX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="posY" serializeAs="String">
                <value>0</value>
            </setting>
        </Dwell_Clicker.Properties.Settings>
        <Dwell_Clicker.Settings1>
            <setting name="posX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="posY" serializeAs="String">
                <value>0</value>
            </setting>
        </Dwell_Clicker.Settings1>
    </applicationSettings>
</configuration>